n8n/WebinarSalesFunnel_Workflow.json
{
  "name": "WebinarSalesFunnel_Workflow",
  "nodes": [
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8",
          "mode": "list",
          "cachedResultName": "Webinardb",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "User Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $('Registration Form').item.json.body.name }}",
            "email": "={{ $('Registration Form').item.json.body.email }}",
            "mobile": "={{ $('Registration Form').item.json.body.mobile }}",
            "role": "={{ $('Registration Form').item.json.body.role }}",
            "source": "={{ $('Registration Form').item.json.body.source }}",
            "reg_timestamp": "={{ $('Registration Form').item.json.body.reg_timestamp }}",
            "password": "={{ $('Registration Form').item.json.body.password }}",
            "nurturing": "L0 - Not Started",
            "client_status": "Processing"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mobile",
              "displayName": "mobile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "password",
              "displayName": "password",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reg_timestamp",
              "displayName": "reg_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "payment_status",
              "displayName": "payment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tnx_id",
              "displayName": "tnx_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tnx_timestamp",
              "displayName": "tnx_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "couponcode_applied",
              "displayName": "couponcode_applied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discount_percentage",
              "displayName": "discount_percentage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discount_amt",
              "displayName": "discount_amt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "payable_amt",
              "displayName": "payable_amt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "paid_amt",
              "displayName": "paid_amt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "client_status",
              "displayName": "client_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nurturing",
              "displayName": "nurturing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "couponcode_given",
              "displayName": "couponcode_given",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        0
      ],
      "id": "0bbfb970-01b7-4528-8224-5a21f14728b9",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ENn4gWYIN6HXLMyZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8",
          "mode": "list",
          "cachedResultName": "Webinardb",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "User Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "payment_status": "={{ $json.body.payment_status }}",
            "email": "={{ $json.body.email }}",
            "tnx_id": "={{ $json.body.txn_id }}",
            "tnx_timestamp": "={{ $json.body.txn_timestamp }}",
            "couponcode_applied": "={{ $json.body.couponcode_applied }}",
            "discount_percentage": "={{ $json.body.discount_percentage }}",
            "discount_amt": "={{ $json.body.discount_amt }}",
            "payable_amt": "={{ $json.body.payable_amt }}",
            "currency": "={{ $json.body.currency }}",
            "paid_amt": "={{ $json.body.paid_amt }}"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mobile",
              "displayName": "mobile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "password",
              "displayName": "password",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reg_timestamp",
              "displayName": "reg_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "payment_status",
              "displayName": "payment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tnx_id",
              "displayName": "tnx_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tnx_timestamp",
              "displayName": "tnx_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "couponcode_applied",
              "displayName": "couponcode_applied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discount_percentage",
              "displayName": "discount_percentage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discount_amt",
              "displayName": "discount_amt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "payable_amt",
              "displayName": "payable_amt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "paid_amt",
              "displayName": "paid_amt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "client_status",
              "displayName": "client_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nurturing",
              "displayName": "nurturing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "couponcode_given",
              "displayName": "couponcode_given",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -448,
        432
      ],
      "id": "5aa6a97c-c1d5-4007-ac4c-6effac1476e4",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ENn4gWYIN6HXLMyZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8",
          "mode": "list",
          "cachedResultName": "Webinardb",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "User Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email",
              "lookupValue": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -192,
        432
      ],
      "id": "d91e611c-448e-4b2f-b818-cbd78a613e59",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ENn4gWYIN6HXLMyZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "capture-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -656,
        112
      ],
      "id": "eb5aa2c9-a955-4e84-aea8-4cf0fb15ea42",
      "name": "Registration Form",
      "webhookId": "1410fac1-72dc-4357-b762-221c42363ae5"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Python Full-Stack 5-day Webinar!",
        "message": "=<div style=\"max-width:520px;margin:40px auto;padding:32px 28px;background:#f4f8fb;border-radius:14px;font-family:Segoe UI,Arial,sans-serif;color:#222;box-shadow:0 4px 18px rgba(44,62,80,0.08);\">\n  <div style=\"text-align:center;\">\n    <img src=\"https://github.com/UmeshChandra05/Webinar-Sales-Funnel/blob/main/frontend/public/PyStack_logo.png\" alt=\"Webinar Banner\" style=\"width:120px;height:auto;border-radius:8px;margin-bottom:24px;box-shadow:0 2px 8px rgba(0,0,0,0.07);\">\n  </div>\n  <h2 style=\"color:#2563eb;text-align:center;margin-bottom:18px;font-size:1.6em;\">Python Full-Stack 5-day Webinar!</h2>\n  <p style=\"font-size:17px;line-height:1.6;margin-bottom:18px;\">Dear <strong>{{ $json.name }}</strong>,</p>\n  <p style=\"font-size:16px;line-height:1.6;margin-bottom:18px;\">\n    <strong>Congratulations!</strong> 🎉<br>\n    Thank you for showing interest in our <b>5-Day Python Full Stack Development Webinar</b>.\n  </p>\n  <p style=\"font-size:16px;line-height:1.6;margin-bottom:22px;\">\n    To complete your registration, please fill out the short form below:\n  </p>\n  <div style=\"text-align:center;margin:28px 0;\">\n    <a href=\"https://your-link.com\" style=\"background:#2563eb;color:#fff;text-decoration:none;padding:14px 36px;border-radius:7px;font-size:17px;display:inline-block;font-weight:600;box-shadow:0 2px 8px rgba(37,99,235,0.10);\">\n      Complete Your Registration & Payment\n    </a>\n  </div>\n  <p style=\"font-size:14px;color:#6b7280;margin-bottom:18px;\">\n    <em>Note: For now, this form includes a simple checkbox to confirm your participation. No payment integration yet — this is just a prototype.</em>\n  </p>\n  <hr style=\"border:none;border-top:1px solid #e5e7eb;margin:28px 0;\">\n  <p style=\"font-size:15px;\">Best regards,<br><span style=\"color:#2563eb;\">The Webinar Team</span></p>\n</div>\n\n<!-- Email Footer -->\n<div style=\"text-align:center;font-size:12px;color:#6b7280;margin-top:22px;line-height:1.5;\">\n  <p style=\"margin:0;\">\n    You're receiving this email because you showed interest in our \n    <strong>Python Full Stack Webinar</strong> on our website.\n  </p>\n  <p style=\"margin:6px 0 0 0;\">\n    Visit us: \n    <a href=\"https://your-website.com\" style=\"color:#d97706;text-decoration:none;font-weight:600;\">\n      your-website.com\n    </a>\n  </p>\n  <p style=\"margin:6px 0 0 0;\">\n    <a href=\"https://your-unsubscribe-link.com\" style=\"color:#9ca3af;text-decoration:underline;\">\n      Unsubscribe\n    </a>\n  </p>\n</div>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        432,
        0
      ],
      "id": "e61c118d-6f39-41c7-83c0-51ec62842149",
      "name": "Registation Success Mail",
      "webhookId": "6e19f0dc-3c6c-4cc0-9847-02cc47102a32",
      "credentials": {
        "gmailOAuth2": {
          "id": "eWk4ZTfPiI8K9Wey",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "simulate-payment",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -720,
        432
      ],
      "id": "cda66bf4-7fca-437d-a5ec-fd84fe711ad1",
      "name": "Payment Form",
      "webhookId": "cba7eddc-222b-484b-987d-63752ea5bfe2"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Payment Form').item.json.body.email }}",
        "subject": "Payment Successfull.",
        "message": "=<div style=\"max-width:520px;margin:40px auto;padding:32px 28px;background:#f6fff8;border-radius:14px;font-family:Segoe UI,Arial,sans-serif;color:#1f2937;box-shadow:0 4px 18px rgba(0,128,0,0.08);border:1px solid #b4e2bf;\">\n  <div style=\"text-align:center;\">\n    <img src=\"https://github.com/UmeshChandra05/Webinar-Sales-Funnel/blob/main/frontend/public/PyStack_logo.png\" alt=\"Webinar Banner\" style=\"width:120px;height:auto;border-radius:8px;margin-bottom:24px;box-shadow:0 2px 8px rgba(0,0,0,0.07);\">\n  </div>\n\n  <h2 style=\"color:#059669;text-align:center;margin-bottom:18px;font-size:1.6em;\">Payment Successful!</h2>\n\n  <p style=\"font-size:17px;line-height:1.6;margin-bottom:18px;\">\n    Hi <strong>{{ $('Get row(s) in sheet').item.json.name }}</strong>,\n  </p>\n\n  <p style=\"font-size:16px;line-height:1.6;margin-bottom:18px;\">\n    <strong>Thank you for completing your payment</strong> for our \n    <b>5-Day Python Full Stack Development Webinar</b>.\n  </p>\n\n  <p style=\"font-size:16px;line-height:1.6;margin-bottom:18px;\">\n    You're officially enrolled!\n  </p>\n\n  <p style=\"font-size:16px;line-height:1.6;margin-bottom:10px;\">\n    <strong>Your Payment Details:</strong>\n  </p>\n\n  <ul style=\"font-size:15px;line-height:1.6;margin-bottom:22px;color:#374151;\">\n    <li><b>Name: {{ $('Get row(s) in sheet').item.json.name }}</b> </li>\n    <li><b>Email: {{ $('Get row(s) in sheet').item.json.email }}</b></li>\n    <li><b>Transaction ID: {{ $('Get row(s) in sheet').item.json.tnx_id }}</b> </li>\n    <li><b>TimeStamp: {{ $('Get row(s) in sheet').item.json.tnx_timestamp }}</b> </li>\n    <li><b>Amount Paid: ₹{{ $('Get row(s) in sheet').item.json.paid_amt }}</b> </li>\n  </ul>\n\n  <p style=\"font-size:15px;line-height:1.6;margin-bottom:22px;\">\n    Further details about the webinar schedule and joining instructions will be shared shortly.\n  </p>\n\n  <p style=\"font-size:15px;line-height:1.6;margin-bottom:22px;\">\n    We’re excited to have you on board 🚀\n  </p>\n\n  <hr style=\"border:none;border-top:1px solid #cde8d5;margin:28px 0;\">\n\n  <p style=\"font-size:15px;\">\n    Best regards,<br>\n    <span style=\"color:#059669;\">The Webinar Team</span>\n  </p>\n</div>\n\n<!-- Email Footer -->\n<div style=\"text-align:center;font-size:12px;color:#6b7280;margin-top:22px;line-height:1.5;\">\n  <p style=\"margin:0;\">\n    You received this email because you registered for our \n    <strong>Python Full Stack Webinar</strong>.\n  </p>\n  <p style=\"margin:6px 0 0 0;\">\n    Visit us: \n    <a href=\"https://your-website.com\" style=\"color:#059669;text-decoration:none;font-weight:600;\">\n      your-website.com\n    </a>\n  </p>\n  <p style=\"margin:6px 0 0 0;\">\n    <a href=\"https://your-unsubscribe-link.com\" style=\"color:#9ca3af;text-decoration:underline;\">\n      Unsubscribe\n    </a>\n  </p>\n</div>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        400,
        336
      ],
      "id": "eab93607-bac7-4202-ae82-9d43b2cf2a75",
      "name": "Payment Success Mail",
      "webhookId": "a16a03a2-80e2-4848-bda8-9e4b2f1b2004",
      "credentials": {
        "gmailOAuth2": {
          "id": "eWk4ZTfPiI8K9Wey",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Payment Form').item.json.body.email }}",
        "subject": "Webinar - Transaction Failed",
        "message": "=<div style=\"max-width:520px;margin:40px auto;padding:32px 28px;background:#fff5f5;border-radius:14px;font-family:Segoe UI,Arial,sans-serif;color:#222;box-shadow:0 4px 18px rgba(255,0,0,0.06);border:1px solid #ffd2d2;\">\n  <div style=\"text-align:center;\">\n    <img src=\"https://github.com/UmeshChandra05/Webinar-Sales-Funnel/blob/main/frontend/public/PyStack_logo.png\" alt=\"Webinar Banner\" style=\"width:120px;height:auto;border-radius:8px;margin-bottom:24px;box-shadow:0 2px 8px rgba(0,0,0,0.07);\">\n  </div>\n\n  <h2 style=\"color:#dc2626;text-align:center;margin-bottom:18px;font-size:1.6em;\">Payment Failed ❌</h2>\n\n  <p style=\"font-size:17px;line-height:1.6;margin-bottom:18px;\">Dear <strong>{{ $json.name }}</strong>,</p>\n\n  <p style=\"font-size:16px;line-height:1.6;margin-bottom:18px;\">\n    Unfortunately, your payment attempt for the <strong>Python Full Stack 5-Day Webinar</strong> was not successful.\n  </p>\n\n  <p style=\"font-size:16px;line-height:1.6;margin-bottom:20px;\">\n    But don’t worry — you can try again to secure your seat!\n  </p>\n\n  <p><strong>Your Payment Details:</strong></p>\n  <ul style=\"font-size:15px;line-height:1.6;margin-bottom:18px;color:#444;\">\n    <li><b>Name:</b> {{ $json.name || '[undefined]' }}</li>\n    <li><b>Email:</b> {{ $json.email || '[undefined]' }}</li>\n    <li><b>Transaction ID:</b> {{ $json.tnx_id || '[undefined]' }}</li>\n    <li><b>TimeStamp:</b> {{ $json.tnx_timestamp || '[undefined]' }}</li>\n    <li><b>Amount Attempted:</b> {{ $json.payable_amt || '[undefined]' }}</li>\n  </ul>\n\n  <div style=\"text-align:center;margin:28px 0;\">\n    <a href=\"https://your-payment-link.com\"\n      style=\"background:#dc2626;color:#fff;text-decoration:none;padding:14px 36px;border-radius:7px;font-size:17px;display:inline-block;font-weight:600;box-shadow:0 2px 8px rgba(220,38,38,0.15);\">\n      Retry Payment\n    </a>\n  </div>\n\n  <p style=\"font-size:14px;color:#6b7280;margin-bottom:18px;\">\n    If you believe this is a mistake or money has been deducted, please contact support with your Transaction ID.\n  </p>\n\n  <hr style=\"border:none;border-top:1px solid #f1c4c4;margin:28px 0;\">\n\n  <p style=\"font-size:15px;\">Best regards,<br>\n    <span style=\"color:#dc2626;\">The Webinar Team</span>\n  </p>\n</div>\n\n<!-- Email Footer -->\n<div style=\"text-align:center;font-size:12px;color:#6b7280;margin-top:22px;line-height:1.5;\">\n  <p style=\"margin:0;\">\n    You're receiving this email because you showed interest in our \n    <strong>Python Full Stack Webinar</strong> on our website.\n  </p>\n  <p style=\"margin:6px 0 0 0;\">\n    Visit us: \n    <a href=\"https://your-website.com\" style=\"color:#d97706;text-decoration:none;font-weight:600;\">\n      your-website.com\n    </a>\n  </p>\n  <p style=\"margin:6px 0 0 0;\">\n    <a href=\"https://your-unsubscribe-link.com\" style=\"color:#9ca3af;text-decoration:underline;\">\n      Unsubscribe\n    </a>\n  </p>\n</div>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        624,
        432
      ],
      "id": "4a59d24c-f459-45fb-a9ea-fc3bed472734",
      "name": "Payment Failed Mail",
      "webhookId": "84dd8b86-ff60-4181-b16f-48ec4d373700",
      "credentials": {
        "gmailOAuth2": {
          "id": "eWk4ZTfPiI8K9Wey",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2d9dd198-e6d0-4e92-a3bd-3a29150812a6",
              "leftValue": "={{ $json.payment_status }}",
              "rightValue": "Failure",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        528
      ],
      "id": "d71290f3-24f5-429b-8a6f-a307eab735e9",
      "name": "If1"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Payment Form').item.json.body.email }}",
        "subject": "We’ve Reserved Your Place – Action Needed to Confirm!",
        "message": "=<div style=\"max-width:520px;margin:40px auto;padding:32px 28px;background:#fffaf3;border-radius:14px;font-family:Segoe UI,Arial,sans-serif;color:#222;box-shadow:0 4px 18px rgba(255,159,10,0.08);border:1px solid #ffe2b5;\">\n  <div style=\"text-align:center;\">\n    <img src=\"https://github.com/UmeshChandra05/Webinar-Sales-Funnel/blob/main/frontend/public/PyStack_logo.png\" alt=\"Webinar Banner\" style=\"width:120px;height:auto;border-radius:8px;margin-bottom:24px;box-shadow:0 2px 8px rgba(0,0,0,0.07);\">\n  </div>\n\n  <h2 style=\"color:#d97706;text-align:center;margin-bottom:18px;font-size:1.6em;\">⏳ Need Time to Confirm?</h2>\n\n  <p style=\"font-size:17px;line-height:1.6;margin-bottom:18px;\">Dear <strong>{{ $json.name }}</strong>,</p>\n\n  <p style=\"font-size:16px;line-height:1.6;margin-bottom:18px;\">\n    We understand this is an important decision. Your interest has been recorded for the \n    <strong>Python Full Stack Development Webinar</strong>.\n  </p>\n\n  <p style=\"font-size:16px;line-height:1.6;margin-bottom:18px;\">\n    <strong>Remember to complete your payment before registration ends to:</strong>\n  </p>\n\n  <ul style=\"font-size:15px;line-height:1.6;margin-bottom:18px;color:#444;\">\n    <li>📚 <strong>Secure your spot</strong> in the course</li>\n    <li>💬 <strong>Get access</strong> to the exclusive WhatsApp community</li>\n    <li>🎥 <strong>Receive all course materials and recordings</strong></li>\n    <li>🏆 <strong>Get your certificate</strong> and mentorship session</li>\n  </ul>\n\n  <p style=\"font-size:16px;line-height:1.6;margin-bottom:20px;\">\n    <strong>⚠️ Registration closes soon!</strong> Complete your payment before the deadline to confirm your access.\n  </p>\n\n  <p style=\"font-size:15px;line-height:1.6;margin-bottom:22px;\">\n    If you have any questions or need assistance, feel free to reach out to us.\n  </p>\n\n  <!-- Buttons Row -->\n  <div style=\"text-align:center;margin-bottom:22px;\">\n  \n    <!-- Complete Payment Button -->\n    <a href=\"https://your-payment-link.com\"\n      style=\"background:#d97706;color:#fff;text-decoration:none;padding:8px 18px;border-radius:6px;font-size:14px;display:inline-block;font-weight:600;box-shadow:0 2px 6px rgba(217,119,6,0.15);margin-right:14px;\">\n      Complete Payment\n    </a>\n  \n    <!-- Contact Us Button -->\n    <a href=\"https://your-contact-page.com\"\n      style=\"background:#ffffff;color:#d97706;border:1px solid #d97706;text-decoration:none;padding:8px 18px;border-radius:6px;font-size:14px;display:inline-block;font-weight:600;\">\n      Contact Us\n    </a>\n  \n  </div>\n\n  <hr style=\"border:none;border-top:1px solid #ffd79a;margin:28px 0;\">\n\n  <p style=\"font-size:15px;\">Best regards,<br>\n    <span style=\"color:#d97706;\">The Webinar Team</span>\n  </p>\n</div>\n\n<!-- Email Footer -->\n<div style=\"text-align:center;font-size:12px;color:#6b7280;margin-top:22px;line-height:1.5;\">\n  <p style=\"margin:0;\">\n    You're receiving this email because you showed interest in our \n    <strong>Python Full Stack Webinar</strong> on our website.\n  </p>\n  <p style=\"margin:6px 0 0 0;\">\n    Visit us: \n    <a href=\"https://your-website.com\" style=\"color:#d97706;text-decoration:none;font-weight:600;\">\n      your-website.com\n    </a>\n  </p>\n  <p style=\"margin:6px 0 0 0;\">\n    <a href=\"https://your-unsubscribe-link.com\" style=\"color:#9ca3af;text-decoration:underline;\">\n      Unsubscribe\n    </a>\n  </p>\n</div>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        624,
        624
      ],
      "id": "ad227b5d-d5d9-483e-853c-4d1036b578b7",
      "name": "NeedTime Email",
      "webhookId": "049c4ea4-8ff4-450b-88b7-29c56a7bba59",
      "credentials": {
        "gmailOAuth2": {
          "id": "eWk4ZTfPiI8K9Wey",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1504,
        528
      ],
      "id": "08bc3323-e8de-4520-823d-e21706109211",
      "name": "Wait",
      "webhookId": "248eed15-d27d-45ef-bb1f-af2f0d9b50dd"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "084b7d78-dcbc-40cd-9abe-70b42d6b1b76",
              "leftValue": "={{ $json.payment_status }}",
              "rightValue": "Success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        112,
        432
      ],
      "id": "53ea324f-df4e-4bd2-9280-e05206decfbd",
      "name": "Check Payment Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cf0a77e0-8da7-4b1a-845c-c95d8e3dd82f",
              "leftValue": "={{ $json.payment_status }}",
              "rightValue": "Success",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "934027a5-698e-44f1-9e9e-4c2f9aa24b67",
              "leftValue": "={{ $json.nurturing }}",
              "rightValue": "L0 - Not Started",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1984,
        528
      ],
      "id": "ccd9a573-588c-457c-a542-f2b16e353cf8",
      "name": "Check Payment Status-2"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Registration Form').item.json.body.email }}",
        "subject": "Your Python Full Stack Webinar Spot is Waiting! 🚀",
        "message": "=<div style=\"max-width:520px;margin:40px auto;padding:32px 28px;background:#fffaf3;border-radius:14px;font-family:Segoe UI,Arial,sans-serif;color:#1f2937;box-shadow:0 4px 18px rgba(255,159,10,0.08);border:1px solid #ffe2b5;\">\n  <div style=\"text-align:center;\">\n    <img src=\"https://github.com/UmeshChandra05/Webinar-Sales-Funnel/blob/main/frontend/public/PyStack_logo.png\" alt=\"Webinar Banner\" style=\"width:120px;height:auto;border-radius:8px;margin-bottom:24px;box-shadow:0 2px 8px rgba(0,0,0,0.07);\">\n  </div>\n\n  <h2 style=\"color:#d97706;text-align:center;margin-bottom:18px;font-size:1.6em;\">🌟 Your Spot is Waiting!</h2>\n\n  <p style=\"font-size:17px;line-height:1.6;margin-bottom:18px;\">\n    Dear <strong>{{ $json.name }}</strong>,\n  </p>\n\n  <p style=\"font-size:16px;line-height:1.6;margin-bottom:18px;\">\n    We noticed you haven’t completed your registration for the \n    <strong>5-Day Python Full Stack Development Webinar</strong> yet.\n  </p>\n\n  <p style=\"font-size:16px;line-height:1.6;margin-bottom:18px;\">\n    <strong>Here’s why you should complete your registration today:</strong>\n  </p>\n\n  <ul style=\"font-size:15px;line-height:1.6;margin-bottom:18px;color:#444;\">\n    <li>📚 <strong>Secure your spot</strong> in the webinar</li>\n    <li>💬 <strong>Join our exclusive WhatsApp community</strong> and network with peers</li>\n    <li>🎥 <strong>Access course materials and recordings</strong> after the sessions</li>\n    <li>🏆 <strong>Earn your certificate</strong> and receive a mentorship session</li>\n  </ul>\n\n  <p style=\"font-size:16px;line-height:1.6;margin-bottom:20px;\">\n    <strong>⚠️ Registration closes soon!</strong> Don’t miss the opportunity to level up your Python Full Stack skills.\n  </p>\n\n  <p style=\"font-size:15px;line-height:1.6;margin-bottom:22px;\">\n    Complete your payment now by clicking the button below:\n  </p>\n\n  <!-- Buttons Row -->\n  <div style=\"display:flex;justify-content:center;align-items:center;gap:28px;margin-bottom:22px;flex-wrap:wrap;\">\n\n    <!-- Complete Payment Button -->\n    <a href=\"https://your-payment-link.com\"\n      style=\"background:#d97706;color:#fff;text-decoration:none;padding:8px 18px;border-radius:6px;font-size:14px;display:inline-block;font-weight:600;box-shadow:0 2px 6px rgba(217,119,6,0.15);white-space:nowrap;\">\n      Complete Payment\n    </a>\n\n    <!-- Contact Us Button -->\n    <a href=\"https://your-contact-page.com\"\n      style=\"background:#ffffff;color:#d97706;border:1px solid #d97706;text-decoration:none;padding:8px 18px;border-radius:6px;font-size:14px;display:inline-block;font-weight:600;white-space:nowrap;\">\n      Contact Us\n    </a>\n\n  </div>\n\n  <hr style=\"border:none;border-top:1px solid #ffd79a;margin:28px 0;\">\n\n  <p style=\"font-size:15px;\">Best regards,<br>\n    <span style=\"color:#d97706;\">The Webinar Team</span>\n  </p>\n</div>\n\n<!-- Email Footer -->\n<div style=\"text-align:center;font-size:12px;color:#6b7280;margin-top:22px;line-height:1.5;\">\n  <p style=\"margin:0;\">\n    You're receiving this email because you showed interest in our \n    <strong>Python Full Stack Webinar</strong>.\n  </p>\n  <p style=\"margin:6px 0 0 0;\">\n    Visit us: \n    <a href=\"https://your-website.com\" style=\"color:#d97706;text-decoration:none;font-weight:600;\">\n      your-website.com\n    </a>\n  </p>\n  <p style=\"margin:6px 0 0 0;\">\n    <a href=\"https://your-unsubscribe-link.com\" style=\"color:#9ca3af;text-decoration:underline;\">\n      Unsubscribe\n    </a>\n  </p>\n</div>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2256,
        512
      ],
      "id": "bddd059f-083e-456d-b29c-64f4011634ac",
      "name": "Nurture1",
      "webhookId": "b56eb365-9761-49a1-afdb-fd21ed984989",
      "credentials": {
        "gmailOAuth2": {
          "id": "eWk4ZTfPiI8K9Wey",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2800,
        512
      ],
      "id": "2f923c8f-0fc7-462f-94d3-833f77140b8d",
      "name": "Wait1",
      "webhookId": "90672363-5af1-4c25-947c-21e370f86da1"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=We’ve Reserved Your Spot – Get {{ $json.couponcode_given.replace(/[^0-9]/g,'') }}% Off Now! 🎉",
        "message": "=<div style=\"max-width:520px;margin:40px auto;padding:32px 28px;background:#f0f7ff;border-radius:14px;font-family:Segoe UI,Arial,sans-serif;color:#1f2937;box-shadow:0 4px 18px rgba(59,130,246,0.12);border:1px solid #cfe3ff;\">\n\n  <div style=\"text-align:center;\">\n    <img src=\"https://github.com/UmeshChandra05/Webinar-Sales-Funnel/blob/main/frontend/public/PyStack_logo.png\" style=\"width:120px;height:auto;border-radius:8px;margin-bottom:24px;\">\n  </div>\n\n  <h2 style=\"color:#2563eb;text-align:center;margin-bottom:18px;font-size:1.6em;\">\n    🎁 Special Discount Just for You!\n  </h2>\n\n  <p style=\"font-size:17px;line-height:1.6;margin-bottom:18px;\">\n    Dear <strong>{{ $('Code in JavaScript').item.json.name }}</strong>,\n  </p>\n\n  <p style=\"font-size:16px;line-height:1.6;margin-bottom:18px;\">\n    Thanks for showing interest in our <strong>5-Day Python Full Stack Development Webinar</strong>!  \n    We truly believe this program can kickstart your developer journey 🚀\n  </p>\n\n  <p style=\"font-size:16px;line-height:1.6;margin-bottom:20px;\">\n    As a token of appreciation, here’s an <strong>exclusive discount code</strong> crafted specially for you:\n  </p>\n\n  <div style=\"background:#2563eb;color:white;padding:12px 20px;border-radius:8px;text-align:center;font-size:18px;font-weight:700;letter-spacing:1px;margin-bottom:22px;\">\n    {{ $json.couponcode_given }}\n  </div>\n\n  <p style=\"font-size:16px;line-height:1.6;margin-bottom:20px;\">\n    Use this coupon during payment to get an instant discount and secure your spot in the training 🎓✨\n  </p>\n\n  <p style=\"font-size:16px;line-height:1.6;margin-bottom:20px;\">\n    ✅ Learn Python from scratch<br>\n    ✅ Build real-world applications<br>\n    ✅ Get recordings, code, certificate & career guidance  \n  </p>\n\n  <p style=\"font-size:16px;line-height:1.6;margin-bottom:18px;font-weight:600;color:#1d4ed8;\">\n    Hurry! Limited seats — and this offer is valid only for a short time ⏰🔥\n  </p>\n\n  <!-- Buttons Row -->\n  <div style=\"display:flex;justify-content:center;align-items:center;gap:26px;margin-bottom:26px;flex-wrap:wrap;\">\n    \n    <!-- Complete Payment Button -->\n    <a href=\"https://your-payment-link.com?email={{ $json.email }}&coupon={{ $json.couponcode_given }}\"\n      style=\"background:#2563eb;color:#fff;text-decoration:none;padding:8px 20px;border-radius:6px;font-size:14px;display:inline-block;font-weight:600;box-shadow:0 2px 6px rgba(37,99,235,0.2);white-space:nowrap;\">\n      Apply Coupon & Pay\n    </a>\n\n    <!-- Contact Us Button -->\n    <a href=\"https://your-contact-page.com\"\n      style=\"background:#fff;color:#2563eb;border:1px solid #2563eb;text-decoration:none;padding:8px 20px;border-radius:6px;font-size:14px;display:inline-block;font-weight:600;white-space:nowrap;\">\n      Need Help?\n    </a>\n\n  </div>\n\n  <hr style=\"border:none;border-top:1px solid #d4e3ff;margin:26px 0;\">\n\n  <p style=\"font-size:15px;\">Cheers,<br>\n    <span style=\"color:#2563eb;font-weight:600;\">The Webinar Team</span>\n  </p>\n</div>\n\n<!-- Footer -->\n<div style=\"text-align:center;font-size:12px;color:#6b7280;margin-top:22px;line-height:1.5;\">\n  <p style=\"margin:0;\">You're receiving this email because you showed interest in our webinar and engaged with us.</p>\n  <p style=\"margin:6px 0 0;\">Visit us: \n    <a href=\"https://your-website.com\" style=\"color:#2563eb;text-decoration:none;font-weight:600;\">your-website.com</a>\n  </p>\n  <p style=\"margin:6px 0 0;\">\n    <a href=\"https://your-unsubscribe-link.com\" style=\"color:#9ca3af;text-decoration:underline;\">Unsubscribe</a>\n  </p>\n</div>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        208,
        976
      ],
      "id": "45156345-01d1-4f1e-92ff-1bb6333aa65e",
      "name": "Disocunt Mail",
      "webhookId": "6cef86d3-09a7-4e0d-86e9-170ea192878a",
      "credentials": {
        "gmailOAuth2": {
          "id": "eWk4ZTfPiI8K9Wey",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cf0a77e0-8da7-4b1a-845c-c95d8e3dd82f",
              "leftValue": "={{ $json.nurturing }}",
              "rightValue": "L1 - Remainder Sent",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "bfae8901-1d9c-4a1d-b37f-d3e5942cf477",
              "leftValue": "={{ $json.payment_status }}",
              "rightValue": "Success",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3312,
        512
      ],
      "id": "90cde3ac-027a-4f76-b970-b5a1c57e3190",
      "name": "Check Payment Status-3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cf0a77e0-8da7-4b1a-845c-c95d8e3dd82f",
              "leftValue": "={{ $json.payment_status }}",
              "rightValue": "Success",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1088,
        976
      ],
      "id": "60f6d3fe-8edc-489d-badb-1a46097e5b32",
      "name": "Check Payment Status-4"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "⏰Final Call: Secure Your Python Webinar Spot Now!",
        "message": "=<div style=\"max-width:520px;margin:40px auto;padding:32px 28px;background:#f0f7ff;border-radius:14px;font-family:Segoe UI,Arial,sans-serif;color:#1f2937;box-shadow:0 4px 18px rgba(37,99,235,0.12);border:1px solid #cfe3ff;\">\n\n  <!-- Logo -->\n  <div style=\"text-align:center;\">\n    <img src=\"https://github.com/UmeshChandra05/Webinar-Sales-Funnel/blob/main/frontend/public/PyStack_logo.png\" style=\"width:120px;height:auto;border-radius:8px;margin-bottom:24px;\">\n  </div>\n\n  <!-- Heading -->\n  <h2 style=\"color:#1d4ed8;text-align:center;margin-bottom:18px;font-size:1.6em;\">\n    🚨 Final Call: Your Discount Ends Soon!\n  </h2>\n\n  <p style=\"font-size:17px;line-height:1.6;margin-bottom:18px;\">\n    Hi <strong>{{ $json.name }}</strong>,\n  </p>\n\n  <p style=\"font-size:16px;line-height:1.6;margin-bottom:18px;\">\n    This is your <strong>last chance</strong> to grab your spot in the \n    <strong>5-Day Python Full Stack Development Webinar</strong> with your exclusive discount.\n  </p>\n\n  <p style=\"font-size:16px;line-height:1.6;margin-bottom:20px;\">\n    Once this offer closes, the seat & discount will no longer be available.\n  </p>\n\n  <!-- Coupon Box -->\n  <div style=\"background:#1d4ed8;color:white;padding:12px 20px;border-radius:8px;text-align:center;font-size:18px;font-weight:700;letter-spacing:1px;margin-bottom:22px;\">\n    {{ $json.couponcode_given }}\n  </div>\n\n  <p style=\"font-size:16px;line-height:1.6;margin-bottom:18px;font-weight:600;color:#1d4ed8;\">\n    Don’t miss this final opportunity to:\n  </p>\n\n  <ul style=\"font-size:15px;line-height:1.6;margin-bottom:22px;color:#374151;padding-left:18px;\">\n    <li>📚 Secure your spot in the webinar</li>\n    <li>💬 Join our exclusive WhatsApp community</li>\n    <li>🎥 Access all course materials and recordings</li>\n    <li>🏆 Earn your certificate and mentorship session</li>\n  </ul>\n\n  <p style=\"font-size:16px;line-height:1.6;margin-bottom:18px;\">\n    After this, the coupon gets deactivated and seats may fill up.  \n    <strong>Act now and don’t miss out!</strong>\n  </p>\n\n  <!-- Buttons -->\n  <div style=\"display:flex;justify-content:center;align-items:center;gap:26px;margin-bottom:26px;flex-wrap:wrap;\">\n\n    <a href=\"https://your-payment-link.com?email={{ $json.email }}&coupon={{ $json.couponcode_given }}\"\n      style=\"background:#1d4ed8;color:#fff;text-decoration:none;padding:10px 22px;border-radius:6px;font-size:14px;display:inline-block;font-weight:600;box-shadow:0 2px 6px rgba(37,99,235,0.2);white-space:nowrap;\">\n      Claim Discount & Complete Payment\n    </a>\n\n    <a href=\"https://your-contact-page.com\"\n      style=\"background:#ffffff;color:#1d4ed8;border:1px solid #1d4ed8;text-decoration:none;padding:10px 22px;border-radius:6px;font-size:14px;display:inline-block;font-weight:600;white-space:nowrap;\">\n      Need Help?\n    </a>\n\n  </div>\n\n  <hr style=\"border:none;border-top:1px solid #d4e3ff;margin:26px 0;\">\n\n  <p style=\"font-size:15px;\">Best Regards,<br>\n    <span style=\"color:#1d4ed8;font-weight:600;\">The Webinar Team</span>\n  </p>\n</div>\n\n<!-- Footer -->\n<div style=\"text-align:center;font-size:12px;color:#6b7280;margin-top:22px;line-height:1.5;\">\n  <p style=\"margin:0;\">You are receiving this email because you subscribed to our webinar updates.</p>\n  <p style=\"margin:6px 0 0;\">Visit us: \n    <a href=\"https://your-website.com\" style=\"color:#1d4ed8;text-decoration:none;font-weight:600;\">your-website.com</a>\n  </p>\n  <p style=\"margin:6px 0 0;\">\n    <a href=\"https://your-unsubscribe-link.com\" style=\"color:#9ca3af;text-decoration:underline;\">Unsubscribe</a>\n  </p>\n</div>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1344,
        960
      ],
      "id": "dfaa6d0b-d478-4a39-9e39-dd24bdd383b4",
      "name": "Urgency Email",
      "webhookId": "3a46e5a0-342b-4d6e-b12a-5addaa7a4b63",
      "credentials": {
        "gmailOAuth2": {
          "id": "eWk4ZTfPiI8K9Wey",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8",
          "mode": "list",
          "cachedResultName": "Webinardb",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "User Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $('Check Payment Status').item.json.email }}",
            "client_status": "Closed"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mobile",
              "displayName": "mobile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "password",
              "displayName": "password",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reg_timestamp",
              "displayName": "reg_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "payment_status",
              "displayName": "payment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tnx_id",
              "displayName": "tnx_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tnx_timestamp",
              "displayName": "tnx_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "couponcode_applied",
              "displayName": "couponcode_applied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discount_percentage",
              "displayName": "discount_percentage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discount_amt",
              "displayName": "discount_amt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "payable_amt",
              "displayName": "payable_amt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "paid_amt",
              "displayName": "paid_amt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "client_status",
              "displayName": "client_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nurturing",
              "displayName": "nurturing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        224
      ],
      "id": "93f197f2-dd10-476b-9c58-8bf89ed2956d",
      "name": "Update Status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ENn4gWYIN6HXLMyZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cf0a77e0-8da7-4b1a-845c-c95d8e3dd82f",
              "leftValue": "={{ $json.payment_status }}",
              "rightValue": "Success",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2256,
        960
      ],
      "id": "cfd9187b-8765-47e4-9256-99bf585d23ce",
      "name": "Check Payment Status-5"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8",
          "mode": "list",
          "cachedResultName": "Webinardb",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "User Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "nurturing": "CL - No Response"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mobile",
              "displayName": "mobile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "password",
              "displayName": "password",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reg_timestamp",
              "displayName": "reg_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "payment_status",
              "displayName": "payment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "txn_id",
              "displayName": "txn_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "txn_timestamp",
              "displayName": "txn_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "couponcode_applied",
              "displayName": "couponcode_applied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discount_percentage",
              "displayName": "discount_percentage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discount_amt",
              "displayName": "discount_amt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "payable_amt",
              "displayName": "payable_amt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "paid_amt",
              "displayName": "paid_amt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "client_status",
              "displayName": "client_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nurturing",
              "displayName": "nurturing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "couponcode_given",
              "displayName": "couponcode_given",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2544,
        944
      ],
      "id": "f4092f0f-dd5b-4323-97b7-2ebbdb3a3b34",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ENn4gWYIN6HXLMyZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        656,
        976
      ],
      "id": "b108d4f6-9c42-4ea9-807e-56b6c42abd21",
      "name": "Wait2",
      "webhookId": "209911f0-79d4-47a3-91f0-c1238faa1a7c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eb62d97e-0b16-4fb5-8b36-573389f16d41",
              "leftValue": "={{ $('Get row(s) in sheet').item.json.nurturing }}",
              "rightValue": "L0 - Not Started",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        912,
        544
      ],
      "id": "2094ba02-7639-474c-957c-dfea22d8eb32",
      "name": "Not Nurtured?"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Do you want to continue your registration?",
        "message": "=<div style=\"max-width:520px;margin:40px auto;padding:32px 28px;background:#fffaf3;border-radius:14px;font-family:Segoe UI,Arial,sans-serif;color:#1f2937;box-shadow:0 4px 18px rgba(255,159,10,0.08);border:1px solid #ffe2b5;\">\n\n  <div style=\"text-align:center;\">\n    <img src=\"https://github.com/UmeshChandra05/Webinar-Sales-Funnel/blob/main/frontend/public/PyStack_logo.png\" style=\"width:120px;height:auto;border-radius:8px;margin-bottom:24px;\">\n  </div>\n\n  <h2 style=\"color:#d97706;text-align:center;margin-bottom:18px;font-size:1.6em;\">🔥 Ready to Become a Python Full-Stack Developer?</h2>\n\n  <p style=\"font-size:17px;line-height:1.6;margin-bottom:18px;\">\n    Dear <strong>{{ $json.name }}</strong>,\n  </p>\n\n  <p style=\"font-size:16px;line-height:1.6;margin-bottom:18px;\">\n    We noticed you're exploring our <strong>5-Day Python Full Stack Development Webinar</strong> — great choice!  \n    This program is built to give you <b>real-world developer skills</b>, even if you're just starting out.\n  </p>\n\n  <p style=\"font-size:16px;line-height:1.6;margin-bottom:18px;\">\n    Here’s what makes this training different:\n  </p>\n\n  <ul style=\"font-size:15px;line-height:1.6;margin-bottom:18px;color:#444;\">\n    <li>✅ Learn Python + Backend + Database + Frontend basics</li>\n    <li>🤝 Live mentorship from real industry developers</li>\n    <li>🧠 Hands-on exercises + real-time guidance</li>\n    <li>🎥 Lifetime access to session recordings</li>\n    <li>📂 Source code + resources included</li>\n    <li>💡 Beginner-friendly + career-focused approach</li>\n  </ul>\n\n  <p style=\"font-size:16px;line-height:1.6;margin-bottom:20px;\">\n    Our goal is simple:  \n    <strong>Turn you into a confident developer who can build real applications.</strong>\n  </p>\n\n  <p style=\"font-size:16px;line-height:1.6;margin-bottom:18px;\">\n    If this sounds exciting, just click below to confirm you're interested —  \n    and we’ll send you a reminder before seats close.\n  </p>\n\n  <!-- Buttons Row -->\n  <div style=\"text-align:center;margin-bottom:26px;\">\n    <a href=\"<a href=\"https://harshasrialluri.app.n8n.cloud/webhook-test/interest?email={{ $json.Email }}&name={{ $json.Name }}\">\n  Save my Spot!\n</a>\n\"\n      style=\"background:#d97706;color:#fff;text-decoration:none;padding:10px 22px;border-radius:6px;font-size:15px;display:inline-block;font-weight:600;box-shadow:0 2px 6px rgba(217,119,6,0.15);\">\n      Save my Spot!\n    </a>\n  </div>\n\n  <hr style=\"border:none;border-top:1px solid #ffd79a;margin:26px 0;\">\n\n  <p style=\"font-size:15px;\">Cheers,<br>\n    <span style=\"color:#d97706;font-weight:600;\">The Webinar Team</span>\n  </p>\n</div>\n\n<!-- Footer -->\n<div style=\"text-align:center;font-size:12px;color:#6b7280;margin-top:22px;line-height:1.5;\">\n  <p style=\"margin:0;\">You're receiving this because you showed interest in our webinar.</p>\n  <p style=\"margin:6px 0 0;\">Visit us: \n    <a href=\"https://your-website.com\" style=\"color:#d97706;text-decoration:none;font-weight:600;\">your-website.com</a>\n  </p>\n  <p style=\"margin:6px 0 0;\">\n    <a href=\"https://your-unsubscribe-link.com\" style=\"color:#9ca3af;text-decoration:underline;\">Unsubscribe</a>\n  </p>\n</div>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3584,
        496
      ],
      "id": "0046de6c-2b8c-4dea-8393-430e1ba5505c",
      "name": "Send a message",
      "webhookId": "35a1a751-2286-4c9e-9d6e-53096cc7da2f",
      "credentials": {
        "gmailOAuth2": {
          "id": "eWk4ZTfPiI8K9Wey",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "path": "interest",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -752,
        976
      ],
      "id": "096222ae-faf5-48f7-abc2-9682d074c095",
      "name": "Interest?",
      "webhookId": "3d50d796-ccda-43e4-aafb-a151d153b096"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8",
          "mode": "list",
          "cachedResultName": "Webinardb",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "User Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nurturing": "L1 - Remainder Sent",
            "email": "={{ $('Check Payment Status-2').item.json.email }}"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mobile",
              "displayName": "mobile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "password",
              "displayName": "password",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reg_timestamp",
              "displayName": "reg_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "payment_status",
              "displayName": "payment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tnx_id",
              "displayName": "tnx_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tnx_timestamp",
              "displayName": "tnx_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "couponcode_applied",
              "displayName": "couponcode_applied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discount_percentage",
              "displayName": "discount_percentage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discount_amt",
              "displayName": "discount_amt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "payable_amt",
              "displayName": "payable_amt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "paid_amt",
              "displayName": "paid_amt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "client_status",
              "displayName": "client_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nurturing",
              "displayName": "nurturing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "couponcode_given",
              "displayName": "couponcode_given",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2528,
        512
      ],
      "id": "4537109b-ef87-4c54-8a69-5055e25c2f7f",
      "name": "Append or update row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ENn4gWYIN6HXLMyZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8",
          "mode": "list",
          "cachedResultName": "Webinardb",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "User Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email",
              "lookupValue": "={{ $json.query.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -528,
        976
      ],
      "id": "ea7174d6-db52-49ba-8c22-e91c8d3c2a61",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ENn4gWYIN6HXLMyZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst updatedItems = items.map((item) => {\n  let coupon;\n  switch (item?.json?.role) {\n    case \"Student\":\n      coupon = \"STUDENT30\";\n      break;\n    case \"Faculty\":\n      coupon = \"FAC20\";\n      break;\n    case \"Industry Professional\":\n      coupon = \"IT10\";\n      break;\n    case \"Entrepreneur\":\n      coupon = \"E05\";\n      break;\n    case \"Freelancer\":\n      coupon = \"FREE20\";\n      break;\n    case \"Other\":\n    default:\n      coupon = \"PY05\";\n      break;\n  }\n  item.json.couponcode_given = coupon;\n  return item;\n});\nreturn updatedItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        976
      ],
      "id": "e90574ea-dc03-479b-8d94-a072bb8236b1",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8",
          "mode": "list",
          "cachedResultName": "Webinardb",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "User Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "couponcode_given": "={{ $json.couponcode_given }}"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mobile",
              "displayName": "mobile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "password",
              "displayName": "password",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reg_timestamp",
              "displayName": "reg_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "payment_status",
              "displayName": "payment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tnx_id",
              "displayName": "tnx_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tnx_timestamp",
              "displayName": "tnx_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "couponcode_applied",
              "displayName": "couponcode_applied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discount_percentage",
              "displayName": "discount_percentage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discount_amt",
              "displayName": "discount_amt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "payable_amt",
              "displayName": "payable_amt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "paid_amt",
              "displayName": "paid_amt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "client_status",
              "displayName": "client_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nurturing",
              "displayName": "nurturing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "couponcode_given",
              "displayName": "couponcode_given",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -16,
        976
      ],
      "id": "d9bba6c8-28d6-420d-905b-6636ad765a31",
      "name": "CouponCode Updation",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ENn4gWYIN6HXLMyZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8",
          "mode": "list",
          "cachedResultName": "Webinardb",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "User Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email",
              "lookupValue": "={{ $json.body.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -448,
        112
      ],
      "id": "1ba4010d-638b-4539-843d-a2157a98e5f0",
      "name": "Get row(s) in sheet2",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ENn4gWYIN6HXLMyZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a0fec74e-81ed-402d-bd19-6050b61e2b74",
              "leftValue": "={{ Object.keys($json).length === 0 }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        112
      ],
      "id": "0a214326-a528-4063-a8b7-fcc1ce14f84f",
      "name": "New Registration?"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "validate-coupon",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -688,
        1392
      ],
      "id": "4eeaedb4-f9a6-479d-9a6c-3b1dab16c2ae",
      "name": "Coupon Validation",
      "webhookId": "c41bda48-33f0-458c-99e5-f7da6f196803"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8",
          "mode": "list",
          "cachedResultName": "Webinardb",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "User Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email",
              "lookupValue": "={{ $json.body.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -480,
        1392
      ],
      "id": "9e821a83-f19e-4233-b195-dc74b638c451",
      "name": "Get row(s) in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ENn4gWYIN6HXLMyZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e1ecb534-46bf-4bd3-8d50-7d3b5e844629",
              "leftValue": "={{ $('Coupon Validation').item.json.body.couponcode_applied }}",
              "rightValue": "={{ $json.couponcode_given }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -272,
        1392
      ],
      "id": "b8d26571-7fea-4494-bd5a-ee120649c5de",
      "name": "If2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"discount\": {{ $json.discount_amt }},\n  \"message\": \"{{ $json.discount_percentage }}% discount applied successfully!\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        512,
        1280
      ],
      "id": "f55a8793-3d32-40af-b549-a3089666e98d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8",
          "mode": "list",
          "cachedResultName": "Webinardb",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "User Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $('If2').item.json.email }}",
            "discount_percentage": "={{ $json.new_discount_percentage }}",
            "discount_amt": "={{ $json.new_discount_amt }}",
            "payable_amt": "={{ $json.new_payable_amt }}"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mobile",
              "displayName": "mobile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "password",
              "displayName": "password",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reg_timestamp",
              "displayName": "reg_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "payment_status",
              "displayName": "payment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "txn_id",
              "displayName": "txn_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "txn_timestamp",
              "displayName": "txn_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "couponcode_applied",
              "displayName": "couponcode_applied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discount_percentage",
              "displayName": "discount_percentage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discount_amt",
              "displayName": "discount_amt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "payable_amt",
              "displayName": "payable_amt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "paid_amt",
              "displayName": "paid_amt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "client_status",
              "displayName": "client_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nurturing",
              "displayName": "nurturing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "couponcode_given",
              "displayName": "couponcode_given",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        1280
      ],
      "id": "69e4ef42-c188-4154-b438-45fb81641085",
      "name": "Append or update row in sheet5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ENn4gWYIN6HXLMyZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst updatedItems = items.map((item) => {\n  const coupon = item.json.couponcode_given || \"\";\n\n  // Extract numbers from coupon string (ex: STUDENT30 -> 30 , PY05 -> 05)\n  const new_discount_percentage = Number(coupon.replace(/[^0-9]/g, \"\")) || 0;\n\n  // Calculate new discount\n  const new_discount_amt = (item.json.payable_amt * new_discount_percentage) / 100;\n\n  // New payable amount\n  const new_payable_amt = item.json.payable_amt - new_discount_amt;\n\n  // Return only these values - you will store them later in DB\n  return {\n    json: {\n      new_discount_percentage,\n      new_discount_amt,\n      new_payable_amt\n    }\n  };\n});\n\nreturn updatedItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        1280
      ],
      "id": "50694eff-0aac-413b-928a-543746bed39c",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"message\": \"Invalid coupon code. Please try again.\"\n}\n",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -32,
        1504
      ],
      "id": "ed4acf36-4b14-454f-b063-8f36b4aba74b",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "admin-auth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -768,
        2336
      ],
      "id": "2c43be3e-6189-462f-a29d-69f2e857142a",
      "name": "Admin",
      "webhookId": "00c79cae-7295-46be-a53d-03230c2f5cb0"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8",
          "mode": "list",
          "cachedResultName": "Webinardb",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1904087004,
          "mode": "list",
          "cachedResultName": "AdminLogs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit#gid=1904087004"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Username",
              "lookupValue": "={{ $json.body.username }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -560,
        2336
      ],
      "id": "2d751a6b-3f73-4b5a-9c9a-83e28d3a6524",
      "name": "Get row(s) in sheet4",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ENn4gWYIN6HXLMyZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"valid\": true,\n  \"message\": \"Login Successfull!\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        160,
        2224
      ],
      "id": "f16225c0-93aa-41be-a2e1-31424663a194",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"valid\": false,\n  \"message\": \"Invalid username or password\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        160,
        2448
      ],
      "id": "30ec0775-e56a-4a84-bc6e-269731b66e45",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        976,
        1232
      ],
      "id": "5119a5d2-4131-4bf5-871b-ce1a29565acf",
      "name": "AIBot",
      "webhookId": "c001b9b6-7ac8-4e12-8e4d-3137fda88ebe"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.query }}",
        "options": {
          "systemMessage": "=You are an AI assistant for our webinar website. You will only answer questions related to the following webinar and website. \nDo NOT answer any unrelated questions. Always respond politely, concisely, and clearly.\n\nWebinar Details:\n- Webinar Name: Python Full Stack Development\n- Date of Event: October 2, 2025\n- Time of Event: 10 AM\n- Host of Event: Harsha Sri\n- Speaker of Event: Harsha Sri and Umesh Chandra\n- Cost of Webinar: ₹4999\n- Duration: Approximately 5 hours\n- Topic(s) Covered: Python fundamentals, Object-Oriented Programming (OOP) in Python, Database integration with MySQL/PostgreSQL, Backend development using Flask / Django, REST API design and implementation, Frontend basics with HTML, CSS, JavaScript, Frontend frameworks (React / Angular basics), Connecting frontend with backend (API consumption), Authentication & Authorization (JWT, sessions), Deployment to cloud platforms.\n- Learning Outcomes: Understand Python basics and write efficient, clean code, Build RESTful APIs with Python (Flask/Django), Connect applications to relational databases, Develop dynamic and interactive user interfaces, Integrate frontend and backend into a full stack project, Deploy a working web application to the cloud, Gain hands-on experience in building end-to-end applications.\n- Benefits: Learn full stack development from scratch in a structured way, Practical, hands-on coding examples and live demo, Industry-relevant project building experience, Guidance on deploying applications to real-world servers, Certification of participation/completion (if applicable), Boost career opportunities in web development and Python-related roles, Strong foundation to start freelancing or internships as a full stack developer.\n- Payment Link: https://yourdomain.com/pay\n- Registration Link: https://yourdomain.com/register\n- Details of Speaker: Harsha Sri and Umesh Chandra\n\nRules:\n1. Only answer questions about this webinar or the website. \n2. You can provide information about schedule, topics, learning outcomes, benefits, speakers, cost, registration, payment, or other webinar-specific details.\n3. If the user asks for something unrelated, politely say: \"I’m sorry, I can only provide information about the Python Full Stack webinar and our website.\"\n4. Keep answers short, clear, and friendly.\n5. If the user asks about other webinars, clarify that only this Python Full Stack Development webinar is available.\n6. Always output the response as a string.\n\nExample User Questions and Responses:\n- User: \"Who is the speaker?\" → Response: \"The speakers for the Python Full Stack webinar are Harsha Sri and Umesh Chandra.\"\n- User: \"What will I learn?\" → Response: \"You will learn Python fundamentals, REST API development, database integration, frontend basics, authentication, and deployment to the cloud.\"\n- User: \"How can I pay?\" → Response: \"You can pay for the webinar here: https://yourdomain.com/pay\"\n\nUser Question: \"{{ $json.body.message }}\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1184,
        1232
      ],
      "id": "bc916b7c-23df-49a3-bae7-8326b0f312fd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1120,
        1456
      ],
      "id": "c86a38d5-79d4-4da6-989e-7f28dd680a36",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "CbD4uJL2I7QJohnq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1280,
        1456
      ],
      "id": "5353c616-8c5d-442b-9816-a746b8de3b10",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"response\": \"{{ $json.output.replace(/\\n/g, '\\\\n') }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1536,
        1232
      ],
      "id": "d380d7d3-0794-4f11-80f1-9c89dbdd7788",
      "name": "Respond to Webhook5"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contact-form",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -736,
        1824
      ],
      "id": "3356657a-fb36-485c-a2d3-bd47bb50b7fc",
      "name": "ContactForm",
      "webhookId": "4a3f70bd-4570-4df4-b03e-60e36f4d2d01"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8",
          "mode": "list",
          "cachedResultName": "Webinardb",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2082547918,
          "mode": "list",
          "cachedResultName": "Queries",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit#gid=2082547918"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email",
              "lookupValue": "={{ $json.body.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -512,
        1824
      ],
      "id": "6ce9ad8e-f618-4bb8-be4a-c4eed7ae10f8",
      "name": "Get row(s) in sheet6",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ENn4gWYIN6HXLMyZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c96e20f5-2680-45fc-8005-6ed933c5b9f3",
              "leftValue": "={{ Object.keys($json).length === 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -352,
        2336
      ],
      "id": "33d5d1bc-e02e-475d-96f8-766e78706a29",
      "name": "Check Username",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "21d4d8af-553f-4c29-b8a6-b33124ec9bc3",
              "leftValue": "={{ $('Admin').item.json.body.password }}",
              "rightValue": "={{ $json.Password }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -96,
        2320
      ],
      "id": "61acc8ab-d7d5-43b7-bda0-0fe90943523e",
      "name": "Validate Credentials",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8",
          "mode": "list",
          "cachedResultName": "Webinardb",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2082547918,
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit#gid=2082547918"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Priority": "={{ ($json.Priority ?? 0) + 1 }}",
            "Email": "={{ $json.Email }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reply",
              "displayName": "Reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -64,
        1936
      ],
      "id": "217988be-28c3-4567-9810-f15896e839c1",
      "name": "Append or update row in sheet6",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ENn4gWYIN6HXLMyZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6328dfe0-8ba1-4a45-bc04-553b50dbbeb4",
              "leftValue": "={{ Object.keys($json).length === 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        1824
      ],
      "id": "18736b1a-16b6-40d6-b5e1-7ba6270341f0",
      "name": "New Contact?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"message\": \"Email already exists, Please login!\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -32,
        208
      ],
      "id": "892f89dc-fbbc-4d49-81b5-37bb4b351528",
      "name": "Respond to Webhook6"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Lead captured successfully\"\n  \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        208,
        0
      ],
      "id": "d06f2359-eff5-4694-9bf3-aa9ff5619fd1",
      "name": "Respond to Webhook7"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "user-login",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1136,
        16
      ],
      "id": "a30cba8b-fdaf-4e40-bcc3-48ae970bae28",
      "name": "Login",
      "webhookId": "862e2e6c-a33e-458b-836a-5cbc6adf3a06"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8",
          "mode": "list",
          "cachedResultName": "Webinardb",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "User Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email",
              "lookupValue": "={{ $json.body.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1344,
        16
      ],
      "id": "2a822cd0-41e9-4817-8690-9758715dce31",
      "name": "Get row(s) in sheet7",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ENn4gWYIN6HXLMyZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a0fec74e-81ed-402d-bd19-6050b61e2b74",
              "leftValue": "={{ Object.keys($json).length === 0 }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1568,
        16
      ],
      "id": "bf75628e-4862-42e0-8a60-6df4bce2c82e",
      "name": "Registered?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n{\n  \"user\": {\n    \"name\": $(\"Get row(s) in sheet7\").item.json.name,\n    \"email\": $(\"Get row(s) in sheet7\").item.json.email,\n    \"password\": $(\"Get row(s) in sheet7\").item.json.password, \n    \"mobile\": $(\"Get row(s) in sheet7\").item.json.mobile,\n    \"role\": $(\"Get row(s) in sheet7\").item.json.role,\n    \"payment_status\": $json.payment_status,\n    \"CouponCode\": $json.couponcode_given\n  }\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1776,
        -80
      ],
      "id": "7ca58298-6412-417b-9cf2-1bca9bba137f",
      "name": "Respond to Webhook8"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"message\": \"User not found\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1776,
        112
      ],
      "id": "2c18a87c-3dfc-476b-909b-c8a2c8bd952d",
      "name": "Respond to Webhook9"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8",
          "mode": "list",
          "cachedResultName": "Webinardb",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "User Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email",
              "lookupValue": "={{ $('Registration Form').item.json.body.email }}"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1728,
        528
      ],
      "id": "4768f65a-6f63-4bf7-ba45-87949d1fd119",
      "name": "Get row(s) in sheet8",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ENn4gWYIN6HXLMyZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8",
          "mode": "list",
          "cachedResultName": "Webinardb",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "User Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email",
              "lookupValue": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3040,
        512
      ],
      "id": "4a2fdea6-42ef-4cad-af6f-3f4de8e3304c",
      "name": "Get row(s) in sheet9",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ENn4gWYIN6HXLMyZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8",
          "mode": "list",
          "cachedResultName": "Webinardb",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "User Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $('Check Payment Status-3').item.json.email }}",
            "nurturing": "L2 - Value & Validation"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mobile",
              "displayName": "mobile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "password",
              "displayName": "password",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reg_timestamp",
              "displayName": "reg_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payment_status",
              "displayName": "payment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tnx_id",
              "displayName": "tnx_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tnx_timestamp",
              "displayName": "tnx_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "couponcode_applied",
              "displayName": "couponcode_applied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "discount_percentage",
              "displayName": "discount_percentage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "discount_amt",
              "displayName": "discount_amt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payable_amt",
              "displayName": "payable_amt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paid_amt",
              "displayName": "paid_amt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "client_status",
              "displayName": "client_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nurturing",
              "displayName": "nurturing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "couponcode_given",
              "displayName": "couponcode_given",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3856,
        496
      ],
      "id": "a1897789-e8e7-4c69-8980-e6be25800ebb",
      "name": "Append or update row in sheet4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ENn4gWYIN6HXLMyZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"payment_status\": \"value\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        896,
        352
      ],
      "id": "707a7889-b6fc-4c4c-84a3-dbb532eab629",
      "name": "Respond to Webhook10"
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        928,
        736
      ],
      "id": "b385e1f2-8624-4378-a188-a9ef610c6d5e",
      "name": "Respond to Webhook11"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8",
          "mode": "list",
          "cachedResultName": "Webinardb",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "User Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email",
              "lookupValue": "={{ $('CouponCode Updation').item.json.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        864,
        976
      ],
      "id": "5a38a0cd-9af5-44c6-a83d-23f61fcbba33",
      "name": "Get row(s) in sheet10",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ENn4gWYIN6HXLMyZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8",
          "mode": "list",
          "cachedResultName": "Webinardb",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "User Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $('CouponCode Updation').item.json.email }}",
            "nurturing": "L3 - Coupon Sent"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mobile",
              "displayName": "mobile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "password",
              "displayName": "password",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reg_timestamp",
              "displayName": "reg_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payment_status",
              "displayName": "payment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "txn_id",
              "displayName": "txn_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "txn_timestamp",
              "displayName": "txn_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "couponcode_applied",
              "displayName": "couponcode_applied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "discount_percentage",
              "displayName": "discount_percentage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "discount_amt",
              "displayName": "discount_amt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payable_amt",
              "displayName": "payable_amt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paid_amt",
              "displayName": "paid_amt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "client_status",
              "displayName": "client_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nurturing",
              "displayName": "nurturing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "couponcode_given",
              "displayName": "couponcode_given",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        976
      ],
      "id": "65a1102a-8d47-414a-bce7-516ae37a0abe",
      "name": "Append or update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ENn4gWYIN6HXLMyZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8",
          "mode": "list",
          "cachedResultName": "Webinardb",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "User Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $('Check Payment Status-4').item.json.email }}",
            "nurturing": "L4 - Urgency Triggered"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mobile",
              "displayName": "mobile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "password",
              "displayName": "password",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reg_timestamp",
              "displayName": "reg_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payment_status",
              "displayName": "payment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "txn_id",
              "displayName": "txn_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "txn_timestamp",
              "displayName": "txn_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "couponcode_applied",
              "displayName": "couponcode_applied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "discount_percentage",
              "displayName": "discount_percentage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "discount_amt",
              "displayName": "discount_amt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payable_amt",
              "displayName": "payable_amt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paid_amt",
              "displayName": "paid_amt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "client_status",
              "displayName": "client_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nurturing",
              "displayName": "nurturing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "couponcode_given",
              "displayName": "couponcode_given",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1552,
        960
      ],
      "id": "8bbeeb8e-e6c0-4428-a687-652a8e37a818",
      "name": "Append or update row in sheet7",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ENn4gWYIN6HXLMyZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1792,
        960
      ],
      "id": "0dbdca87-0ba5-4d4e-ac07-08b4f1da0499",
      "name": "Wait3",
      "webhookId": "248eed15-d27d-45ef-bb1f-af2f0d9b50dd"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8",
          "mode": "list",
          "cachedResultName": "Webinardb",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "User Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email",
              "lookupValue": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2000,
        960
      ],
      "id": "ed41ef18-eae4-402f-ac23-1190fd2b548c",
      "name": "Get row(s) in sheet11",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ENn4gWYIN6HXLMyZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\n\n// Get year as 2 digits (e.g. 2025 → 25)\nconst year = String(now.getFullYear()).slice(-2);\n\n// Get month and date with leading zeros\nconst month = String(now.getMonth() + 1).padStart(2, '0');\nconst day = String(now.getDate()).padStart(2, '0');\n\n// Random 4-digit number\nconst rand = Math.floor(1000 + Math.random() * 9000);\n\n// Final ticket ID → e.g. TCKT-251006-4821\nconst ticketId = `TCKT-${year}${month}${day}-${rand}`;\n\nreturn [{ json: { ticketId } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        1712
      ],
      "id": "4e3588a2-d2cb-4612-ba47-644386167d8d",
      "name": "TicketID Generation"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8",
          "mode": "list",
          "cachedResultName": "Webinardb",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2082547918,
          "mode": "list",
          "cachedResultName": "Queries",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UinuM281y4r8gxCrCr2dvF_-7CBC2l_FVSomj0Ia-c8/edit#gid=2082547918"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $('ContactForm').item.json.body.name }}",
            "email": "={{ $('ContactForm').item.json.body.email }}",
            "mobile": "={{ $('ContactForm').item.json.body.mobile }}",
            "ticket_id": "={{ $json.ticketId }}",
            "query_timestamp": "={{ $('ContactForm').item.json.body.query_timestamp }}",
            "query": "={{ $('ContactForm').item.json.body.query }}",
            "query_status": "Open"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mobile",
              "displayName": "mobile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ticket_id",
              "displayName": "ticket_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "query_reply",
              "displayName": "query_reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "query_timestamp",
              "displayName": "query_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "query_resolved_timestamp",
              "displayName": "query_resolved_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "query_status",
              "displayName": "query_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        144,
        1712
      ],
      "id": "58a49203-0362-41af-bb06-b289b30edda8",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ENn4gWYIN6HXLMyZ",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Check Payment Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registration Form": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payment Form": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Payment Failed Mail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NeedTime Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payment Failed Mail": {
      "main": [
        [
          {
            "node": "Not Nurtured?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NeedTime Email": {
      "main": [
        [
          {
            "node": "Not Nurtured?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Payment Status": {
      "main": [
        [
          {
            "node": "Payment Success Mail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Payment Status-2": {
      "main": [
        [
          {
            "node": "Nurture1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nurture1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Payment Status-3": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disocunt Mail": {
      "main": [
        [
          {
            "node": "Append or update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Payment Status-4": {
      "main": [
        [
          {
            "node": "Urgency Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payment Success Mail": {
      "main": [
        [
          {
            "node": "Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Urgency Email": {
      "main": [
        [
          {
            "node": "Append or update row in sheet7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Payment Status-5": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Nurtured?": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Interest?": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet3": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "CouponCode Updation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CouponCode Updation": {
      "main": [
        [
          {
            "node": "Disocunt Mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "New Registration?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Registration?": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coupon Validation": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet3": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet5": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Append or update row in sheet5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registation Success Mail": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Admin": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet4": {
      "main": [
        [
          {
            "node": "Check Username",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AIBot": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContactForm": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet6": {
      "main": [
        [
          {
            "node": "New Contact?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Username": {
      "main": [
        [
          {
            "node": "Validate Credentials",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Credentials": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Contact?": {
      "main": [
        [
          {
            "node": "TicketID Generation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook7": {
      "main": [
        [
          {
            "node": "Registation Success Mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet7": {
      "main": [
        [
          {
            "node": "Registered?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registered?": {
      "main": [
        [
          {
            "node": "Respond to Webhook8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet8": {
      "main": [
        [
          {
            "node": "Check Payment Status-2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet9": {
      "main": [
        [
          {
            "node": "Check Payment Status-3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Append or update row in sheet4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet4": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet10": {
      "main": [
        [
          {
            "node": "Check Payment Status-4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet2": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet7": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet11": {
      "main": [
        [
          {
            "node": "Check Payment Status-5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TicketID Generation": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "84de45e5-fe56-48d1-9358-e9a96bd64578",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "817926174dcc6c2b3f49c31b208740d26f0cfb6b8939149fb8e82b3518328d9c"
  },
  "id": "PKTk221Q4Kobdm5f",
  "tags": []
}